a{
  text-decoration: none;/*下線を消す*/
  color:inherit;/*色を継承する*/

}
a:hover{
  color:gray;
 
}

.header{
  position:fixed;
background-color:white;
color:black;
width:100%;
height:80px;
z-index: 5;

}
.header-flex{
  display:flex;
}
.header-logo{
  font-size:28px;
  padding:20px 0 0 30px;
  font-weight:700;
}
.header-list{
  margin:0 0 0 auto;
}
.header-list li{
  float:left;
  font-size:large;
  padding:25px 30px 10px 15px ;
  list-style: none;
  font-weight:700;
}

/*maina*/

.maina{
  height:300px;
  width:100%;
  background-image:url(img/mv.png);
  background-size:cover;
  background-position:center;
  display:flex;
  padding-top:80px;
}
.title{
  width:130px;
  color:white;
  margin:7% auto;
  font-size:32px;
  z-index: 5;
}

/*mainb*/

.parent{
  width:60%;
  margin:80px auto;
}
.kaisyasougyou{
  border:1px solid black;

}
.mojikann{
  display:flex; /*横並びにする*/
  margin:25px 0 25px 20px;
  letter-spacing:0.05em;
}
.sougyou,.tyoutatu,.sinnbunn{
  font-weight:bold;
  margin-left:10px;
}
.sikinntyoutatu,.toukyousinnbunn{
  border:1px solid black;
  margin-top:10px;
}

/*maing*/

.maing{
  height:350px;
  width:100%;
  background-color:rgb(240, 240, 240);
}
.tyuukann{
  width:29%;
  margin:0 auto;
}
.itiranne{
  display:flex;
}
.miruf{
  background-color:rgb(194, 12, 12);
  margin:30px auto;
  color:white;
  text-align: center;
  padding:15px 100px;
  
 
}
.otoiawase{
  font-size:30px;
  font-weight:bold;
  text-align: center;
  padding-top:100px;
  letter-spacing:0.1em
}
.irai{
  text-align: center;
  padding-top:15px;
  letter-spacing:0.1em
}

/*footer*/

.footer-a::after{
  content:"|";
  padding:0 10px;
}
.footer{
  width:100%;
  height:100px;
  color:white;
  background-color:rgb(54, 54, 54);
}
.naka{
  width:70%;
  margin-left:auto;
  margin-right:auto;
  display:flex;
}
.footer-logo{
  margin-top:40px;
  
  
  
}
.footer-list{
  margin:40px 0 0 auto;
}
.footer-list li{
  float:left;
  list-style: none;
  padding-right:0px;
  
}
@media screen and (max-width:768px){
  
  #hamburger{
    width:40px;
    height:40px;
    z-index:10;
    margin-left:auto;
    margin-right:5%;
    position:relative;
    top:18px;
  }
  #hamburger span{
    width:35px;
    height:2px;
    background-color:black;
    position:absolute;

  }
  #hamburger span:nth-of-type(1){
   top:10px;

  }
  #hamburger span:nth-of-type(2){
   top:20px;
  }
  #hamburger span:nth-of-type(3){
    top:30px;
  }
  .header-list{
    display:none;
  }

  /*maina*/

  .title{
    margin:35% auto;
  }

  /*mainb*/

  .parent{
    width:90%;
  }
  .mojikann{
    margin:15px 0 15px 10px;
  }
  .hiduke,.sougyou,.tyoutatu,.sinnbunn{
    font-size:12px;
  }

  /*maing*/

  .tyuukann{
    width:80%;

  }
  /*footer*/
  .footer{
    height:300px;
  }
  .naka{
    display:inline-block;
    width:100%;
  }
  .footer-logo {
  margin-top:20px;
   text-align:center;
  }
  .footer-a{
    width:100%;
    padding:5px;
  }
  .footer-b{
    width:100%;
    padding:5px;
  }
  .footer-list{
    margin:0;

  }
  .footer-list li{
    text-align:center;
    clear:both;
  }
  .footer-a::after{
    content:none;
    /*これで間の線が消えた*/
  }
}