a{
  text-decoration: none;
  color:inherit;


}
a:hover{
  color:gray;
}
.header{
  position:fixed;
background-color:white;
color:black;
width:100%;
height:80px;
z-index: 5;

}
.header-flex{
  display:flex;
}
.header-logo{
  font-size:28px;
  padding:20px 0 0 30px;
  font-weight:700;
}
.header-list{
  margin:0 0 0 auto;
}
.header-list li{
  float:left;
  font-size:large;
  padding:25px 30px 10px 15px ;
  list-style: none;
  font-weight:700;
}

/*maina*/

.maina{
  height:300px;
  width:100%;
  background-image:url(img/mv.png);
  background-size:cover;
  background-position:center;
  display:flex;
  padding-top:80px;
}
.title{
  width:150px;
  color:white;
  margin:7% auto;
  font-size:32px;
  z-index: 5;
}

/*mainb*/

.mainb{
  width:100%;
  height:1150px;
}
.tyuukann{
  width:70%;
  margin:0 auto;
  padding-top:80px;
  flex-wrap:wrap;
  display:flex;
}
.ikuseijigyou,
.ko-tinngujigyou,
.konnsarujityou,
.torannsufo-me-syonjigyou{
  width:100%;
 border-top:1px solid black;
 padding-top:20px;
 padding-bottom:25px;

}
.service-imga{
  width:290px;
  height:200px;
  background-image:url(img/service1.png);
  background-position:center;
  background-size:cover;
  float: left;
}
.mojityuukann{
  padding-left:30%;
}
.ikusei,
.ko-tinngu,
.konnsaru,
.torannsu{
  font-size:27px;
  font-weight:bold;
}
.service-imgb{
  width:290px;
  height:200px;
  background-image:url(img/service2.png);
  background-size:cover;
  background-position:center;
  float:left;
}
.service-imgc{
  width:290px;
  height:200px;
  background-image:url(img/service3.png);
  background-size:cover;
  background-position:center;
  float:left;
}
.service-imgd{
  width:290px;
  height:200px;
  background-image:url(img/service4.png);
  background-size:cover;
  background-position:center;
  float:left;
}
.torannsufo-me-syonjigyou{
  border-bottom:1px solid black;
}

/*maing*/

.maing{
  height:350px;
  width:100%;
  background-color:rgb(240, 240, 240);

}
.husen{
  width:70%;
  margin:0 auto;
}
.itiranne{
 
 
  display:flex;

}
.mirub{
  background-color:rgb(194, 12, 12);
  text-align: center;
  color:white;
  padding:15px 0;
  width:40%;
  margin:30px auto;
  
  
}
.otoiawase{
  font-size:30px;
  font-weight:bold;
  text-align: center;
  padding-top:100px;
  letter-spacing:0.1em
}
.irai{
  text-align: center;
  padding-top:15px;
  letter-spacing:0.1em
}

/*footer*/

.footer-a::after{
  content:"|";
  padding:0 10px;
}
.footer{
  width:100%;
  height:100px;
  color:white;
  background-color:rgb(54, 54, 54);
}
.naka{
  width:70%;
  margin-left:auto;
  margin-right:auto;
  display:flex;
}
.footer-logo{
  margin-top:40px;
  
  
  
}
.footer-list{
  margin:40px 0 0 auto;
}
.footer-list li{
  float:left;
  list-style: none;
  padding-right:0px;
  
}
@media screen and (max-width:768px){

  #hamburger{
    width:40px;
    height:40px;
    z-index:10;
    position:relative;
    top:18px;
    margin:0 5% 0 auto;

  }
  #hamburger span{
   width:35px;
   height:2px;
   background-color:black;
   position:absolute;

  }
  #hamburger span:nth-of-type(1){
   top:10px;
  }
  #hamburger span:nth-of-type(2){
    top:20px;
  }
  #hamburger span:nth-of-type(3){
    top:30px;
  }
  .header-list{
    display:none;
  }
 .title{
   margin:30% auto;
   width:130px;
 }

 /*mainb*/
 .mainb{
   height:1650px;
 }
 .tyuukann{
   width:85%;
 }
 .mojityuukann{
   padding-left:0;
   padding-top:200px;
 }
 .service-imga,.service-imgb,.service-imgc,.service-imgd{
   width:100%;

 }
.ikusei,.ko-tinngu,.konnsaru,.torannsu{
  font-size:20px;
  padding:10px 0 5px 0;
}

.mirub{
  width:100%;
}



}